{
  "env": {
    "node": true,
    "es6": true,
    "browser": true,
    "jest/globals": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react-hooks/recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["react", "@typescript-eslint", "prettier", "jest"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "semi": false,
        "trailingComma": "none",
        "printWidth": 120
      }
    // ],
    // "max-statements": [
    //   1, {
    //     "max": 20
    //   }
    ],
    "react/no-unknown-property":0,
    "react/prop-types": 0,
    // TODO set this rule to 2 and fix all the errors
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/camelcase": 0,
    "@typescript-eslint/explicit-function-return-type": 0,
    "react/no-unescaped-entities": 0,
    "@typescript-eslint/ban-ts-ignore": 0,
    "@typescript-eslint/ban-ts-comment": 0,
    "@typescript-eslint/prefer-as-const": 0,
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "react-hooks/rules-of-hooks": 1,
    "react-hooks/exhaustive-deps": 1,
    "ban-ts-ignore": 0,
    "react/display-name": 0,
    "no-extra-boolean-cast": 0,
    "@typescript-eslint/no-empty-interface": [
      "error",
      {
        "allowSingleExtends": false
      }
    ],
    "@typescript-eslint/ban-types": [
      "error",
      {
        "extendDefaults": true,
        "types": {
          "{}": false,
          "Function": false
        }
      }
    ]
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "globals": {
    "process": true
  }
}
