image: harbor.eds.aphp.fr/cohort360/selenium-chrome:1.0.0

stages: # List of stages for jobs in their order of execution
  - test
  - build
  - deploy

include: # Variables needed for Selenium tests
  project: dev/cohort360/frontend
  file: '/.gitlab/selenium_variables.yml'
  rules:
    - if: $CI_JOB_STAGE == "test"

test-e2e-chrome-job:
  stage: test
  artifacts:
    when: always
    paths:
      - reports
    expire_in: 1 week
  allow_failure: true
  script:
    - npm install
    - mkdir /etc/nginx/templates
    - cp .gitlab/nginx-test.conf /etc/nginx/templates/nginx.conf.template
    - service nginx restart
    - cat /etc/nginx/conf.d/nginx.conf
    - npm run start > file.log 2>&1 &
    - sleep 30 # Wait until application is started
    - npm run test
  cache:
    key: cohort360_nodemodules_cache
    paths:
      - node_modules/


build-job:
  image: harbor.eds.aphp.fr/cohort360/node:16.13.2
  stage: build
  script:
    - npm install
    - npm run build
  artifacts:
    paths:
      - build/
    expire_in: 1 day
  rules:
    - if: '$CI_COMMIT_REF_PROTECTED == "true"'
  cache:
    key: cohort360_nodemodules_cache
    paths:
      - node_modules/
    policy: pull

deploy-job:
  image: harbor.eds.aphp.fr/cohort360/kaniko:debug
  stage: deploy
  needs:
    - job: build-job
      artifacts: true
  script:
    - export VERSION=$(cat package.json | grep version | head -1 | awk -F= "{ print $2 }" | sed 's/[version:,\",]//g' | tr -d '[[:space:]]')
    - mkdir -p /kaniko/.docker
    - echo "{\"auths\":{\"${CI_REGISTRY}\":{\"username\":\"${BOT_NAME}\",\"password\":\"${BOT_TOKEN}\"}}}" > /kaniko/.docker/config.json
    - >-
      /kaniko/executor
      --context ${CI_PROJECT_DIR}
      --dockerfile ${CI_PROJECT_DIR}/Dockerfile
      --destination ${CI_REGISTRY_IMAGE}:${VERSION}
  only :
    - tags
    - develop
    - ^feat_deploy_(\w*|\d*)
